h3 {
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  color: #000014;
  text-align: center;
}
.btn {
  background-color: #1d033379;
  margin: 5px 10px;
  font-size: 24px;
  color: #000014;
  text-align: center;
}
.btn:nth-child(n) {
  padding: 5px 10px 5px 10px;
}
.arrow {
  margin: 0px 10px;
  position: relative;
  z-index: 3;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow svg {
  padding: 5px;
}
.btn:hover,
.arrow:hover,
.socialMedia:hover {
  cursor: pointer;
  background-color: #10033357;
}
.btn:active,
.arrow:active,
.socialMedia:active {
  background-color: #ff000057;
}
.spanCircle svg:hover {
  cursor: pointer;
  color: #10033357;
}
.spanCircle svg:active {
  color: #ff000057;
}
