@import url("./pre-styles.css");
@import url("./header.css");

h3 {
  font-size: 24px;
  color: #000014;
  text-align: center;
  margin: 10px 0px;
}
.flexProd {
  padding: 30px 0px;
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-around;
}
.flexProd .image {
  width: 30%;
}
.flexProd .image img {
  max-width: 100%;
}
.flexProd .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.flexProd .counter {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}
.flexProd input {
  width: 40px;
  font-size: 16px;
  background-color: #030f3300;
  color: #000014;
  text-align: center;
}
.flexProd .arrow {
  margin: 0px 10px;
  position: relative;
  z-index: 3;
  border: 2px solid black;
  padding: 5px;
}
.divSale {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.divSale h3 {
  font-size: 28px;
  text-align: center;
  font-weight: 800;
}
.btnBranch {
  background-color: #1d033379;
  padding: 5px 10px 5px 10px;
  margin: 5px 0px;
}
textarea {
  width: 50%;
  margin-left: 25%;
}
#sendComment {
  display: inline-block;
  background-color: #1d033379;
  padding: 10px 15px 10px 15px;
  margin: 5px 0px;
  font-size: 20px;
  position: relative;
  top: -15px;
}
#comments {
  width: 50%;
  margin-left: 25%;
  display: flex;
}
#who {
  width: 20%;
  height: auto;
  background-color: #1d033379;
  color: #000014;
  font-size: 18px;
  border: 1px solid #1d033379;
  border-radius: 3px;
  margin: 5px 10px 5px 0px;
  word-wrap: break-word;
}
#what {
  width: 80%;
  height: auto;
  background-color: #030f3362;
  color: #000014;
  font-size: 18px;
  border: 1px solid #030f3362;
  border-radius: 3px;
  margin: 5px 10px 5px 0px;
  word-wrap: break-word;
}
