@import url("./pre-styles.css");
@import url("./header.css");

.flexCatalog {
  display: flex;
  width: 100%;
}
.flexCatalog .cabinet {
  width: 25%;
  max-width: 350px;
  background-color: #10033357;
  position: fixed;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
  color: #000014;
}

.flexCatalog h3 {
  font-size: 24px;
  color: #000014;
  text-align: center;
}

.flexCatalog .cabinet .btnFiltr,
.btnBranch {
  background-color: #1d033379;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px;
}

.flexCatalog .liCatalog {
  margin-left: 25%;
  width: 75%;
}
.flexCatalog .liCatalog #branchUl {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flexCatalog .liCatalog #branchUl li {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #10033357;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.flexCatalog .liCatalog #branchUl li img {
  max-width: 100%;
}
.flexCatalog .liCatalog #branchUl li input {
  width: 40px;
  font-size: 16px;
  background-color: #030f3300;
  color: #000014;
  text-align: center;
}
.divSale {
  position: absolute;
  top: 80px;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: red;
}
.divSale h3 {
  font-size: 28px;
  text-align: center;
  color: red;
  font-weight: 800;
}
.counter {
  display: flex;
  justify-content: center;
}
