html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
i {font-style: italic;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color:#030f3362 !important;
    color: #000014;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************/

.wrapper{
	max-width: 1366px;
	width:100%;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background-color: #1d033379;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo img{
    height: 60px;
    position: relative;
    top: -10px;
}
header .logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: #000014;
}
header .logo h2{
    font-size: 35px;
    margin: 0px;
    letter-spacing: 2px;
}
header .logo p{
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0px;
    padding-bottom: 15px;
}
header .menu {    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

header .menu li{
    display: inline;
    text-decoration: none;
    padding: 12px 18px;
}
header .menu li a {
    text-decoration: none;
    color: #000014;
    font-size: 18px;
    font-style: italic;
}
header .menu li #numberItems{
    width: 20px;
    color: red;
    text-align: center;
    padding: 0px;
    border: none;
}
header .menu li #search{
    width: 160px;
    font-size: 18px;
    margin-right: 5px;
    background-color: #030f3300;
    color: #000014;
}
.flexCatalog{
    display: flex;
    width: 100%;
}
.flexCatalog .cabinet{
    width: 25%;
    max-width: 350px;
    background-color: #10033357;
    position: fixed;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px;
    color: #000014;
}

.flexCatalog h3{
    font-size: 24px;
    color: #000014;
    text-align: center;
}

.flexCatalog .cabinet .btnFiltr, .btnBranch{
    background-color: #1d033379;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px;
}

.flexCatalog .liCatalog{
    margin-left: 25%;
    width: 75%;
}
.flexCatalog .liCatalog #catalog{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexCatalog .liCatalog #catalog li{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #10033357;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.flexCatalog .liCatalog #catalog li img{
    max-width: 100%;
}
.flexCatalog .liCatalog #catalog li input{
    width: 40px;
    font-size: 16px;
    background-color: #030f3300;
    color: #000014;
    text-align: center;
}
.divSale {
    position: absolute;
    top: 80px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: red;
}
.divSale h3{
    font-size: 28px;
    text-align: center;
    color: red;
    font-weight: 800;
}
.counter{
    display: flex;
    justify-content: center;
}