@import url("./pre-styles.css");
@import url("./header.css");

#map {
  width: 60%;
  height: 400px;
}
.flexx {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stolb8 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.socseti {
  width: 40px;
  height: 40px;
  border: 1px solid #000014;
  border-radius: 100px;
  margin-right: 9px;
  display: inline-block;
  text-align: center;
}
.socseti svg {
  font-size: 18px;
  margin-top: 10px;
  color: #000014;
}
