@import url("./pre-styles.css");
@import url("./header.css");
@import url("./buttonsStyles.css");

.flexCatalog {
  display: flex;
  width: 100%;
}
.flexCatalog .filtres {
  width: 25%;
  max-width: 350px;
  background-color: #10033357;
  position: fixed;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
  color: #000014;
}

.flexCatalog .filtres #categorySel {
  width: 80%;
  background-color: #030f3300;
  overflow: scroll;
  height: 200px;
}
.flexCatalog .filtres label {
  display: block;
  margin-left: 20px;
}
.flexCatalog .filtres #categorySel #defencecontrol,
.flexCatalog .filtres #categorySel #bodycontrol,
.flexCatalog .filtres #categorySel #dogscontrol,
.flexCatalog .filtres #categorySel #toolscontrol {
  margin-left: 10px;
}
.flexCatalog .filtres #categorySel #Allcontrol {
  margin-left: 0px;
}
.flexCatalog .filtres #countrySel {
  width: 80%;
}
.flexCatalog .filtres #countrySel #AllcountryControl {
  margin-left: 0px;
}

.flexCatalog .filtres #PriceSel input {
  width: 60px;
  font-size: 16px;
  background-color: #030f3300;
  color: #000014;
}
.flexCatalog .filtres .btns {
  display: flex;
}

.flexCatalog .liCatalog {
  margin-left: 25%;
  width: 75%;
}
.flexCatalog .liCatalog #catalog {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flexCatalog .liCatalog #catalog li {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #10033357;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.flexCatalog .liCatalog #catalog li img {
  max-width: 100%;
}
.flexCatalog .liCatalog #catalog li .counter {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}
.flexCatalog .liCatalog #catalog li input {
  width: 40px;
  font-size: 16px;
  background-color: #030f3300;
  color: #000014;
  text-align: center;
}
.divSale {
  position: absolute;
  top: 80px;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: red;
}
.divSale h3 {
  font-size: 28px;
  text-align: center;
  color: red;
  font-weight: 800;
}
