@import url("./pre-styles.css");
@import url("./header.css");
@import url("./footer.css");

h3 {
  font-size: 24px;
  color: #000014;
  text-align: center;
}

.liBranch {
  margin-left: 2.5%;
  width: 95%;
}
.liBranch #branchUl {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.liBranch #branchUl li {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #10033357;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.liBranch #branchUl li img {
  max-width: 100%;
}
.liBranch #branchUl li .counter {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
}
.liBranch #branchUl li input {
  width: 40px;
  font-size: 16px;
  background-color: #030f3300;
  color: #000014;
  text-align: center;
}
.arrow {
  margin: 0px 10px;
  position: relative;
  z-index: 3;
  border: 2px solid black;
  padding: 5px;
}
.divSale {
  position: absolute;
  top: 80px;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: red;
}
.divSale h3 {
  font-size: 28px;
  text-align: center;
  color: red;
  font-weight: 800;
}
.btnBranch {
  background-color: #1d033379;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px;
}
