html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
i {font-style: italic;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color:#030f3362 !important;
    color: #000014;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************/

.wrapper{
	max-width: 1366px;
	width:100%;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background-color: #1d033379;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo img{
    height: 60px;
    position: relative;
    top: -10px;
}
header .logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: #000014;
}
header .logo h2{
    font-size: 35px;
    margin: 0px;
    letter-spacing: 2px;
}
header .logo p{
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0px;
    padding-bottom: 15px;
}
header .menu {    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

header .menu li{
    display: inline;
    text-decoration: none;
    padding: 12px 18px;
}
header .menu li a {
    text-decoration: none;
    color: #000014;
    font-size: 20px;
    font-style: italic;
}
header .menu li #numberItems{
    width: 20px;
    color: red;
    text-align: center;
    padding: 0px;
    border: none;
}
header .menu li #search{
    width: 160px;
    font-size: 18px;
    margin-right: 5px;
    background-color: #030f3300;
    color: #000014;
}
h3{
    font-size: 24px;
    color: #000014;
    text-align: center;
    margin: 10px 0px;
}
.flexProd{
    padding: 30px 0px;
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: space-around;
}
.flexProd .image{
    width: 30%;
}
.flexProd .image img{
    max-width: 100%;
}
.flexProd .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.flexProd .counter{
    margin: 5px 0px;
    display: flex;
    justify-content: center;
}
.flexProd input{
    width: 40px;
    font-size: 16px;
    background-color: #030f3300;
    color: #000014;
    text-align: center;
}
.flexProd .arrow{
    margin: 0px 10px;
    position: relative;
    z-index: 3;
    border: 2px solid black;
    padding: 5px;
}
.divSale {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}
.divSale h3{
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}
.btnBranch{
    background-color: #1d033379;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px;
}
textarea{
    width: 50%;
    margin-left: 25%;
}
#sendComment{
    display: inline-block;
    background-color: #1d033379;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px;
    font-size: 20px;
    position: relative;
    top: -15px;
}
#comments{
    width: 50%;
    margin-left: 25%;
    display: flex;
}
#who{
    width: 20%;
    height: auto;
    background-color: #1d033379;
    color: #000014;
    font-size: 18px;
    border: 1px solid #1d033379;
    border-radius: 3px;
    margin: 5px 10px 5px 0px;
    word-wrap: break-word;
}
#what{
    width: 80%;
    height: auto;
    background-color: #030f3362;
    color: #000014;
    font-size: 18px;
    border: 1px solid #030f3362;
    border-radius: 3px;
    margin: 5px 10px 5px 0px;
    word-wrap: break-word;
}